#intro {
    padding: 15px;
    margin-top: 70px;
    background-color:#EBDDE2;
    border-radius: 15px;
    font-size: 1em;
    line-height: 1.5rem;
    font-family: 'Questrial', sans-serif;
    padding-bottom: 60px;
}

#topTitle {
    color: black;
    text-align: left;
    padding-bottom: 5px;
    margin-bottom: 0;
}

#title {
    border-bottom: solid 1px;
    padding-top: 0;
    margin-top: 0;
}

#aboutPage {
    background-image: url("../images/black_thread.png");
    height: 100vh;
    overflow: hidden;
    /* width: 100vw; */
    padding-right:0px;
    margin-right: 0;
    
}   

#socials {
    padding-left:200px;
    padding-top: 100px;
}


/* --------------------------------------------------Photos---------------------------------------------- */
#aboutPic {
    height: 150px;
    float:left;
    border-radius: 5px;
    margin-right: 10px;
}

#github {
    width: 50px;
    border: solid #EBDDE2 1px;
    background-color:#EBDDE2
}

#linked {
    width: 50px;
    padding-top: 10px;
}

#mailMe {
    width: 60px;
    padding-top: 10px;
}