#projectsMain {
    background-image:url("../images/black_thread.png");
    height: 250vh;
    overflow-x: auto;
}

#informationTime {
    text-align: left;
}



/* ---------------Plant App--------- */
#plantyPlant {
    width:90%;
    text-align: center;
    margin-top: 30px;
}

#plantPic {
    width: 100%;
    border-bottom: solid #874f63 2px
}



/* ----------------------Radical Kanji------------------------ */
#kanjiPic {
    width: 50%;
}

#kanji {
    width:90%;
    text-align: center;
    margin-top:30px;
}

#fixIt {
    margin-top: 10px;
    border-bottom: solid #874f63 2px;
}



/* ----------------------Emerald------------------------ */
#gemPic {
    width: 50%;
    margin-bottom: 20px;
}

#emerald {
    width:90%;
    text-align: center;
    margin-top:30px;
}



/* ----------------------Liri------------------------ */
#liriPic {
    margin-left:0;
    padding-left:0;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top:20px;
    width: 100%;
    margin-bottom: 30px
}

#liri {
    width:90%;
    text-align: center;
    margin-top:30px;
}

#liriFix {
    margin-top: 10px;
    border-bottom: solid #874f63 2px;
}

/* ----------------------Bamazon------------------------ */
#bamazonPic {
    margin-left:0;
    padding-left:0;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top:20px;
    width: 100%;
    margin-bottom: 30px
}

#bamazon {
    width:90%;
    text-align: center;
    margin-top:30px;
    padding-left: 50px;
}

#bamazonFix {
    margin-top: 10px;
    border-bottom: solid #874f63 2px;
}
/* ----------------------------Icons----------------------- */
#favIt {
    width:50px
}

#giddyGit {
    width: 60px;
    padding-left:30px;
}

#giddyGit2 {
    width: 60px; 
    padding-bottom: 10px;
    padding-top: 10px;
}

#giddyGit3 {
    width: 60px;
}