#appBar {
    background-color:  #EBDDE2;
    color: black;
    font-family: 'Questrial', sans-serif;
}

#clickIt {
    color: black;
    text-decoration: none;
    
}

#myName {
    color: black;
    text-decoration: none;
   
}